* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg: rgb(0, 0, 0);
  --second: rgb(14, 14, 14);
  --text: white;
  --main: cyan;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}
body {
  background: var(--bg);
  color: var(--text);
}
/* -----------------------------------------------------Header Start */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 12% 4rem;
  background: rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
.logo {
  font-size: 3rem;
  color: var(--text);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}
.logo:hover {
  transform: scale(1.1);
}
.logo span {
  color: var(--main);
  text-shadow: 0 0 25px var(--main);
}
.navbar a {
  font-size: 1.8rem;
  color: var(--text);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a:active {
  color: var(--main);
  border-bottom: 3px solid var(--main);
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--main);
  display: none;
}
/* -----------------------------------------------------Header End */

/* -----------------------------------------------------Pengalaman Start */
.heading {
  font-size: 8rem;
  text-align: center;
  margin: 20rem 0;
}
.services {
  background: var(--bg);
  color: black;
}
.services h2 {
  margin-bottom: 5rem;
  color: white;
}
.services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
  margin: 10rem;
}
.services-box {
  background-color: var(--main);
  height: 300px;
  border-radius: 3rem;
  border: 5px solid transparent;
  transition: 0.4s ease-in-out;
  position: relative;
}
.services-box:hover {
  background: white;
  color: black;
  border: 5px solid var(--main);
  transform: scale(1.03);
}
.services-box .services-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-height: 200px;
  justify-content: left;
  align-items: baseline;
  padding: 5rem 5rem;
}
.services-info h4 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 2;
}
.services-info p {
  font-size: 1.6rem;
  font-weight: 600;
  max-height: 100px;
  line-height: 1.7;
  margin: auto;
}
/* -------------------------------------button */
.btn-all {
  display: flex;
  justify-content: flex-end; /* Align button to the right */
  padding: 20px; /* Add padding to create space around the button */
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.btn-services {
  padding: 1rem 2.8rem;
  background: var(--text);
  border-radius: 4rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: black;
  border: 5px;
  letter-spacing: 0.1rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.btn-services:hover {
  transform: scale(1.05);
  box-shadow: 0 0 50px var(--main);
  background: var(--main);
}
/* ------------------------------------Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main);
}
::-webkit-scrollbar-track {
  background-color: var(--bg);
  width: 50px;
}
/* ---------------------------------------------------Pengalaman End */

/* -----------------------------------------------------Footer Start */
.footer {
  background-color: var(--second);
  text-align: center;
  width: 100%;
  padding: 2rem 0; /* Mengurangi padding atas dan bawah */
  margin-top: 3rem;
  position: relative; /* Untuk memastikan footer berada di bagian bawah */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5); /* Menambahkan bayangan untuk memberikan efek terangkat */
}

.footer .copyright {
  margin-top: 1.5rem; /* Memberi jarak sedikit di atas teks hak cipta */
  font-size: 1.6rem; /* Mengubah ukuran font untuk konsistensi */
  color: var(--text); /* Menggunakan variabel teks untuk konsistensi warna */
}

.social-icon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  border-bottom: 2px solid var(--main);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--main);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover {
  color: var(--text);
  transform: scale(1.3) translateY(-5px);
  box-shadow: 0 0 25px var(--main);
  background-color: var(--main);
}

@media (max-width: 600px) {
  .footer {
    padding: 1rem 2%; /* Mempersempit padding pada layar lebih kecil */
  }
  .footer .copyright {
    font-size: 1.4rem; /* Ukuran font lebih kecil untuk layar lebih kecil */
  }
}
/* -----------------------------------------------------Footer End */

/* -----------------------------------------------------Responsif Start */
/* ----------------------Laptop/pc --------------*/
@media (max-width: 1285px) {
  html {
    font-size: 55%;
  }
  .services-container {
    padding-bottom: 7rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 5rem;
  }
}
@media (max-width: 991px) {
  header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .timeline-item::before {
    left: 7px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }
  .timeline-dot {
    left: 0;
  }
  .services {
    padding-bottom: 7rem;
  }
  .testimonials .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact form {
    flex-direction: column;
  }
  .footer {
    padding: 2rem 3%;
  }
}
/* ----------------------Laptop/pc --------------*/
@media (max-width: 895px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3%;
    background: rgb(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main);
    border-bottom: 2px solid var(--main);
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar .active a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: white;
  }
  .home {
    flex-direction: column-reverse;
    margin: 5rem 4rem;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 8rem;
    margin-top: 3rem;
  }
  .home-content p {
    max-width: 600px;
    margin: 0 auto;
  }
  .home-img img {
    width: 56vw;
  }
  .services h2 {
    margin-bottom: 3rem;
  }
  .services-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* -----------------------------------------------------Responsif End */
